@{
	// URL для авторизации
	var loginUrl = Url.Action("LogIn", "Home");

	// URL для регистрации
	var registrationUrl = Url.Action("Registration", "Home");
}


<form method="POST" action="@loginUrl">
	<div class="form-group">
		<label>Логин</label>
		<input type="text" class="form-control" id="login" placeholder="Введите логин">
	</div>
	<div class="form-group">
		<label>Пароль</label>
		<input type="password" class="form-control" id="password" placeholder="Пароль">
	</div>
	<button type="submit" class="btn btn-default">Войти</button>
	<a href="@registrationUrl" class="btn btn-default">Регистрация</a>
</form>

