@{
	// URL для авторизации
	var loginUrl = Url.Action("LogIn", "Home");

	// URL для регистрации
	var registrationUrl = Url.Action("Registration", "Home");

	// Показать сообщение об ошибке
	bool isShwoError = ViewBag.IsShowError ?? false;
}


@if(isShwoError)
{
	<div class="alert alert-danger">
		Ошибка авторизации
	</div>
}

<form method="POST" action="@loginUrl">
	<div class="form-group">
		<label>Логин</label>
		<input type="text" class="form-control" name="login" placeholder="Введите логин" required>
	</div>
	<div class="form-group">
		<label>Пароль</label>
		<input type="password" class="form-control" name="password" placeholder="Пароль" required>
	</div>
	<div class="row">
		<div class="col-md-8">
			<button type="submit" class="btn btn-primary btn-block">Войти</button>
		</div>
		<div class="col-md-4">
			<a href="@registrationUrl" class="btn btn-primary btn-block">Регистрация</a>
		</div>
	</div>
</form>

